# Formato: mongodb+srv://<USER>:<PASSWORD>@<CLUSTER_URL>/<DATABASE_NAME>?<OPTIONS>

# <USER>: Seu nome de usuário no MongoDB Atlas.

# <PASSWORD>: A senha para esse usuário.

# <CLUSTER_URL>: O endereço do seu cluster (ex: cluster0.abcde.mongodb.net).

# <DATABASE_NAME>: O nome do banco de dados que você quer criar (ex: "meu-projeto-dev"). O MongoDB/Prisma o criará automaticamente na primeira escrita.

DATABASE_URL="mongodb+srv://root:randompassword@cluster0.ab1cd.mongodb.net/mydb?retryWrites=true&w=majority"
